# Generated mesh
**/polyMesh

# VTK files
**/VTK

# Generated solution directories, excluding 0
[0-9]*
0.[0-9]*

# Include 0 and "0-like" directories
!0
!0[1-9]-*
!0.[a-zA-Z]*

# Wmake files
linux64GccDPInt32Opt
lnInclude

# Explicitly include vscode config
!.vscode/*