# Generated mesh
**/polyMesh

# Generated solution directories, excluding 0
[0-9]*
0.[0-9]*

!0
!0[1-9]-*

# Wmake files
linux64GccDPInt32Opt
lnInclude

# IDE stuff
.idea
.vscode
*.creator
openfoam-regulator.config
openfoam-regulator.includes
openfoam-regulator.files
